.containerr{
    text-align: center;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
}
.desc{
font-size: 19px;
color:#444;
}
.title{
    text-align: center;
}
.wrapper{
    width: 100%;
    display: flex; /*make them horizontal*/
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}